<div class='country-card'>
  <div class='country-card_header-wrapper'>
    <img src='{{flags.png}}' alt='{{name.common}}' width='40' />
    <h1 class='country-card-name'>{{name.common}}</h1>
  </div>
  <ul class='country-card-features' style='list-style: none; padding:0;'>
    <li><span style='font-weight: bold'>Capital: </span>{{capital}}</li>
    <li><span style='font-weight: bold'>Population: </span>{{population}}</li>
    <li><span style='font-weight: bold'>Languages:
      </span>{{formattedLanguage}}</li>
  </ul>
</div>